PORT=4000
DATABASE_URL=postgresql://usuario:password@localhost:5432/sistemapos
JWT_ACCESS_SECRET=cambia-este-valor-en-produccion
JWT_REFRESH_SECRET=cambia-este-otro-valor-en-produccion
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL_HOURS=10
CORS_ORIGIN=http://localhost:5173
NODE_ENV=development
